<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walts.ideas" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="IdeasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/light_bulb"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- IDEA -->

        <activity
            android:name=".activities.idea.CreateIdeaActivity"
            android:label="@string/title_activity_create_idea" >
        </activity>

        <activity
            android:name=".activities.idea.EditIdeaActivity"
            android:label="@string/title_activity_edit_idea" >
        </activity>

        <activity
            android:name=".activities.idea.ViewIdeaActivity"
            android:label="@string/title_activity_view_idea" >
        </activity>

        <!-- QUESTION -->

        <activity
            android:name=".activities.question.CreateQuestionActivity"
            android:label="@string/title_activity_create_question" >
        </activity>

        <activity
            android:name=".activities.question.EditQuestionActivity"
            android:label="@string/title_activity_edit_question" >
        </activity>

        <activity
            android:name=".activities.question.ViewQuestionActivity"
            android:label="@string/title_activity_view_question" >
        </activity>

    </application>

</manifest>
